@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Montserrat';
}

/* COLORS */

:root {
  --orange-strong: #F16C19;
  --orange-pale: #ef9f5a;
  --beige: #ffe3c4;
  --green-strong: #00462B;
  --green-pale: #129a7b;
}