.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    text-align: center;
    /* Center text for all children */
    background-color: var(--beige);
}

.logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 80px;
    height: auto;
}

.app-name {
    position: absolute;
    top: 1.8rem;
    left: calc(1rem + 80px + 10px);
    font-size: 2rem;
    color: var(--green-pale);
}

.header-text {
    margin-bottom: 1rem;
    /* Adjusted for overall spacing */
}

.highlight {
    font-size: 3rem;
    color: var(--orange-strong)
}

.main-text {
    font-size: 3.5rem;
    color: var(--green-pale);
}

button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 70px;
    /* Ensure buttons have the same width */
}

.next-button {
    background-color: var(--orange-strong);
    border-radius: 0.8rem;
    border: none;
    color: white;
    width: 100px;
    height: 50px;
    margin-top: 10px;
}

.next-button:hover {
    opacity: 0.8;
}

.profile-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-strong);
    border: none;
    color: white;
}

.profile-button:hover {
    opacity: 0.8;
}