.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Выравнивание элементов в начале контейнера */
    justify-content: flex-start;
    /* Выравнивание элементов сверху */
    min-height: 100vh;
    position: relative;
    padding: 2.5rem;
    background-color: var(--beige);
}