.tennisClub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  text-align: center;
  background-color: var(--beige);
}

.selection-action-container {
  display: flex;
  align-items: center;
}

select {
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  border: 2px solid var(--orange-strong);
  height: 50px;
  background-color: white;
  color: var(--green-pale);
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

select::-ms-expand {
  display: none;
}

.select-container {
  position: relative;
  display: inline-block;
}

.select-container:after {
  content: '▼';
  font-size: 0.8rem;
  color: var(--orange-strong);
  right: 1rem;
  top: 50%;
  position: absolute;
  pointer-events: none;
  transform: translateY(-50%);
}

.tennisClub-button {
  margin-left: 1rem;
}
