.skillLevel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    text-align: center;
    /* Center text for all children */
    background-color: var(--beige);
}