.skillLevel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  text-align: center;
  background-color: var(--beige);
}

.beginner-button {
  width: 137px;
}

.inter-button {
  width: 137px;
}

.pro-button {
  width: 137px;
}
